$color__background-body: #ffffff;
$color__body-text: #1b1b1b;

$color__site-primary: #0059b2;
$color__site-primary-light: #0059b20a;

$color__site-secondary: #f39e00;

$color__site-dark: #000;
$color__site-white: #fff;

$color__site-gray: #f2f2f2;
$color__site-lightgray: #f9f9f9;
