* {
  padding: 0px;
  margin: 0px;
  @include box-sizing(border-box);
}

html {
  font-size: 16px;
  @include box-sizing(border-box);
  direction: rtl;
}

body {
  background-color: $color__background-body;
  font-family: $font__body;
  font-size: $font__size_base;
  color: $color__body-text;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__titles;
  font-weight: 600;
  color: #06364f;
  strong {
    color: $color__site-primary;
  }
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;

  img {
    outline: none;
    border: none;
  }
}

input,
textarea,
select,
button {
  background: none;
  outline: none;
  border: none;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
  font-family: $font__body;
}

picture {
  font-size: 0;
}

h1 {
  font-size: 26px; // Mobile size first
  line-height: 46px;

  @include lg-up {
    font-size: 45px;
    line-height: 70px;
  }
}

h2 {
  font-size: 28px; // Mobile size first

  line-height: 39px;

  @include lg-up {
    font-size: 35px;
    line-height: 62px;
  }
}

h3,
h4,
h5,
h6 {
  font-size: 18px;
  line-height: 26px;
}

p,
ul li,
a,
button,
table td,
table th {
  font-size: 14px; // Mobile size first
  line-height: 22px;
  font-weight: 500;
  @include lg-up {
    font-size: 20px;
    line-height: 30px;
  }
  strong {
    color: $color__site-primary;
  }
}
