/*----------------------------------
  HEADER STYLES
  ---------------------------------------------------------------------------------*/
.lp-header {
  background-color: #f9f9f9d4;
  position: sticky;
  box-shadow: 1px 6px 23px -13px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 6px 23px -13px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 6px 23px -13px rgba(0, 0, 0, 0.25);
  top: 0;
  z-index: 999;
  backdrop-filter: blur(8px);

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }
  .site-logo {
    width: 102px;
    height: auto;
    @include lg-up {
      width: 170px;
    }
  }
  .btn-item {
    min-width: fit-content;
    width: auto;
    .btn {
      img {
        width: 17px;
        height: 10px;
        @include lg-up {
          width: 26px;
          height: 23px;
        }
      }
      padding: 15px;
      @include lg-up {
        padding: 20px;
        display: inline-flex;
        gap: 10px;
        align-items: center;
      }
    }
  }
}
