.lp-testimonials {
  background-image: var(--bgImage);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 300px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 60px;
  @include sm-up {
    background-position: 110% -120px;
    background-size: contain;
    padding-top: 155px;
    gap: 40px;
  }
  header {
    text-align: right;
    width: 100%;
    padding-right: 10%;
    padding-left: 20px;
    h2 {
      font-size: 30px;
      @include lg-up {
        font-size: 70px;
      }
    }
  }
  .embla {
    &.layout-02 {
      .embla__viewport {
        padding-right: 20px;
        @include lg-up {
          padding-right: 20%;
        }
        .embla__container {
          .embla__slide {
            padding: 10px;
            flex: 0 0 310px;
            aspect-ratio: 311/292;
            @include sm-up {
              padding: 30px;
              flex: 0 0 400px;
            }
            &-inner {
              background-color: $color__site-white;
              box-shadow: 0px 4px 36px 0px #0000001a;

              border-radius: 0 50% 50% 50%;
              padding-top: 35px;
              display: flex;
              flex-direction: column;
              gap: 7px;
              padding-bottom: 55px;
              @include sm-up {
                padding-top: 55px;
              }
              h3 {
                font-size: 16px;
                line-height: 24px;
                color: $color__site-primary;
                padding-right: 60px;
                @include sm-up {
                  padding-right: 80px;
                  font-size: 22px;
                }
              }
              p {
                font-size: 12px;
                line-height: 19px;
                padding: 0 35px;
                @include sm-up {
                  font-size: 16px;
                  line-height: 24px;
                  padding: 0 50px;
                }
              }
              .slide-stars {
                margin-right: 60px;
                align-self: flex-start;
                @include sm-up {
                  margin-right: 80px;
                }
              }
              position: relative;
              &-patient {
                width: 40px;
                height: 40px;
                object-fit: cover;
                position: absolute;
                right: 30px;
                bottom: -0;
                @include sm-up {
                  width: 66px;
                  height: 66px;
                  right: 10px;
                  bottom: 10px;
                }
              }
            }
          }
        }
      }
      .embla__dots {
        margin-top: 30px;
      }
    }
  }
}
