.lp-full-video {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    font-size: 20px;
    line-height: 30px;
    @include lg-up {
      font-size: 34px;
      line-height: 60px;
    }
  }
  @include lg-up {
    gap: 40px;
    padding-bottom: 0;
  }
  header {
    width: min(100%, 1086px);
    padding: 0 15px;
    img {
      width: 100%;
      max-width: 820px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
